.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.idea/

.vscode/
*.code-workspace

/bin/
/obj/
**/[Bb]in/
**/[Oo]bj/

*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/
publish/

*.DotSettings.user
TestResults/
*.trx

installer/*.exe
installer/*.msi
installer/*.pdb

*.log
*.tmp
*.temp
*.bak

*.runtimeconfig.json
*.deps.json
*.dll
*.exe

obj/**/wpftmp.*

*.zip
*.7z

docs/plan.md
